<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://i.easytap.io/static/logo_vertical.png">
    <title>Подтверждение</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        .centered {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <p style="text-align: center;">
        <button class="button is-primary" onclick="location.href='https://t.me/easytap_support_bot';">Помощь ?</button>
    </p>
    <div class="centered">
        <h1 style="text-align: center; font-size: 150%; font-weight: 600;">Спасибо!</h1>
        <p style="text-align: center; font-size: 100%;">Сейчас вам предстоит пройти идентификацию личности.</p>
        <p style="text-align: center; font-size: 100%;">Пройдите в хорошо освещенное место.</p>
        <p style="text-align: center;font-size: 80%; padding-top: 2em">
            <a style="background-color: #8a2be2; color: white; padding: 0.5em 1em; text-decoration: none; text-transform: uppercase;" target="_blank" href="https://i.easytap.io/contract-doc?code={{ code }}&amp;n=✓">Прочитать Договор</a>
        </p>
    </div>

</body>
</html>
